[DEFAULT]
verbose = True
debug = True


[db]
connection_url = postgresql://{{ GC_PG_USER }}:{{ GC_PG_PASS }}@127.0.0.1:5432/{{ GC_PG_DB }}
connection_pool_size = 2


[universal_agent]
orch_secure_communication = False
orch_endpoint = http://{{ boot_ip }}:11013
status_endpoint = http://{{ boot_ip }}:11013
caps_drivers =
    SecretCapabilityDriver,
    PasswordCapabilityDriver,
    CoreDNSCertificateCapabilityDriver,
    LBAgentCapabilityDriver,
    BorderAgentCapabilityDriver,
    GuestMachineCapabilityDriver,
    SSHKeyCapabilityDriver,
    RenderAgentDriver


[universal_agent_scheduler]
capabilities =
    em_*,
    password,
    certificate,
    paas_lb_agent,
    repo_proxy_installed_element,
    border_agent


[CoreDNSCertificateCapabilityDriver]
username = admin
password = {{ admin_password }}
user_api_base_url = http://localhost:80/api/core


[SecretCapabilityDriver]
username = admin
password = {{ admin_password }}
user_api_base_url = http://localhost:80/api/core
em_core_iam_users = /v1/iam/users/, password
em_core_iam_clients = /v1/iam/clients/, secret, filter:project_id:12345678-c625-4fee-81d5-f691897b8142
