network:
  version: 2
  renderer: networkd
  ethernets:
    enp1s0:
      dhcp4: false
      addresses:
        - 10.20.0.2/16
      routes:
        - to: default
          via: 10.20.0.1
      nameservers:
        addresses: [8.8.8.8, 8.8.4.4]
    enp2s0:
      dhcp4: false
      addresses:
        - 10.30.0.2/22
