name: "node_with_lb_example"
uuid: "f02b4cd9-91b9-4bc1-b3b8-3fe40124aaaa"
description: "Genesis element with LB example"
schema_version: 1
version: "0.0.1"
api_version: "v1"

requirements:
  core:
    from_version: "0.0.0"

resources:
  $core.compute.nodes:
    demo_node:
      name: example.com
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      root_disk_size: 15
      cores: 2
      ram: 3000
      image: https://repository.genesis-core.tech/genesis-base/latest/genesis-base.raw.gz

# Example of LB with:
# - http->https 80->443 redirect
# - 443 port https backend with self-signed cert on $demo_node, simple route for /
# - UDP 10000 port L4 balancer

# Example of nginx config which these resources produce:
#
# http{
#   upstream 9a78aa0a-3e08-4fd4-b1e5-64ac7a37e561 {

#       zone 9a78aa0a-3e08-4fd4-b1e5-64ac7a37e561_l7 64K;
#           server 10.20.0.20:443 weight=1;
#       keepalive 2;
#   }
#   upstream d3e0e644-dae4-45ef-a646-b5186fbfa11b {

#       zone d3e0e644-dae4-45ef-a646-b5186fbfa11b_l7 64K;
#           server 10.20.0.20:10000 weight=1;
#       keepalive 2;
#   }

#   server {
#   listen 0.0.0.0:80;
#   server_name example.com www.example.com;
#   proxy_http_version 1.1;
#   proxy_set_header Upgrade $http_upgrade;
#   proxy_set_header Connection "upgrade";
#   allow 0.0.0.0/0;
#   deny all;

#   location  / {
#       return 301 https://example.com$request_uri;
#       proxy_set_header Host $host;
#           proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
#           proxy_set_header X-Forwarded-Port "80";
#           proxy_set_header X-Forwarded-Proto $scheme;

#   }
#   }

#   server {
#   listen 0.0.0.0:443 ssl http2;
#   server_name example.com www.example.com;
#   ssl_certificate      /etc/nginx/ssl/717380d8-8e44-44a4-9ca9-ef5cf8f01965.crt;
#   ssl_certificate_key  /etc/nginx/ssl/717380d8-8e44-44a4-9ca9-ef5cf8f01965.key;
#   ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

#   proxy_http_version 1.1;
#   proxy_set_header Upgrade $http_upgrade;
#   proxy_set_header Connection "upgrade";
#   allow 0.0.0.0/0;
#   deny all;

#   location  / {
#       proxy_pass https://9a78aa0a-3e08-4fd4-b1e5-64ac7a37e561;
#           proxy_ssl_verify off;
#       proxy_set_header Host $host;
#           proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
#           proxy_set_header X-Forwarded-Port "443";
#           proxy_set_header X-Forwarded-Proto $scheme;

#   }
#   }
# }
# stream {
#   upstream 9a78aa0a-3e08-4fd4-b1e5-64ac7a37e561 {

#       zone 9a78aa0a-3e08-4fd4-b1e5-64ac7a37e561_l4 64K;
#           server 10.20.0.20:443 weight=1;

#   }
#   upstream d3e0e644-dae4-45ef-a646-b5186fbfa11b {

#       zone d3e0e644-dae4-45ef-a646-b5186fbfa11b_l4 64K;
#           server 10.20.0.20:10000 weight=1;

#   }

#   server {
#   listen 0.0.0.0:10000 udp;
#   allow 0.0.0.0/0;
#   deny all;
#   proxy_pass d3e0e644-dae4-45ef-a646-b5186fbfa11b;
#   }
# }

  $core.network.lb:
    example_lb:
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      # You may set LB type with some params, for ex. more RAM:
      # type:
      #   kind: core
      #   ram: 5000
  $core.network.lb.$example_lb.backend_pools:
    example_backend_https:
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      parent: $core.network.lb.$example_lb:uuid
      endpoints:
        - kind: host
          host: $core.compute.nodes.$demo_node:default_network:ipv4
          port: 443
    example_backend_udp:
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      parent: $core.network.lb.$example_lb:uuid
      endpoints:
        - kind: host
          host: $core.compute.nodes.$demo_node:default_network:ipv4
          port: 10000
  $core.network.lb.$example_lb.vhosts:
    example_http:
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      parent: $core.network.lb.$example_lb:uuid
      domains:
        - example.com
        - www.example.com
      protocol: http
      port: 80
    example_https:
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      parent: $core.network.lb.$example_lb:uuid
      domains:
        - example.com
        - www.example.com
      protocol: https
      port: 443
      cert:
        kind: raw
        crt: |
          -----BEGIN CERTIFICATE-----
          YOUR_REAL_CERT_DATA_OR_LINK_TO_CERT_RESOURCE
          -----END CERTIFICATE-----
        key: |
          -----BEGIN PRIVATE KEY-----
          YOUR_REAL_KEY_DATA_OR_LINK_TO_CERT_RESOURCE
          -----END PRIVATE KEY-----
    example_udp:
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      parent: $core.network.lb.$example_lb:uuid
      protocol: udp
      port: 10000
  $core.network.lb.$example_lb.vhosts.$example_http.routes:
    example_http_route:
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      parent: $core.network.lb.$example_lb.vhosts.$example_http:uuid
      condition:
        kind: prefix
        value: /
        actions:
          - kind: redirect
            url: https://example.com
  $core.network.lb.$example_lb.vhosts.$example_https.routes:
    example_https_route:
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      parent: $core.network.lb.$example_lb.vhosts.$example_https:uuid
      condition:
        kind: prefix
        value: /
        actions:
          - kind: backend
            pool: $core.network.lb.$example_lb.backend_pools.$example_backend_https:uuid
            protocol:
              kind: https
              verify: false
  $core.network.lb.$example_lb.vhosts.$example_udp.routes:
    example_udp_route:
      project_id: "12345678-c625-4fee-81d5-f691897b8142"
      parent: $core.network.lb.$example_lb.vhosts.$example_udp:uuid
      condition:
        kind: raw
        actions:
          - kind: backend
            pool: $core.network.lb.$example_lb.backend_pools.$example_backend_udp:uuid
