[Unit]
Description=Exordos Core General Service
After=network-online.target

[Service]
Restart=on-failure
RestartSec=5s
TimeoutStopSec=5
ExecStart=ec-gservice --config-file /etc/exordos_core/exordos_core.conf

[Install]
WantedBy=multi-user.target
