[Unit]
Description=Exordos Core User API
After=network-online.target

[Service]
TimeoutStopSec=5
Restart=always
RestartSec=5s
KillSignal=SIGINT
ExecStart=ec-user-api --config-file /etc/exordos_core/exordos_core.conf

[Install]
WantedBy=multi-user.target
