[Unit]
Description=Genesis Core Boot API
After=network-online.target

[Service]
TimeoutStopSec=5
Restart=on-failure
RestartSec=5s
KillSignal=SIGINT
ExecStartPre=/bin/sleep 2
ExecStart=gc-boot-api --config-file /etc/genesis_core/genesis_core.conf

[Install]
WantedBy=multi-user.target
